{% extends "Informacion/base.html" %}

{% block contenido %}
<h1>About</h1>
<p style="font-size: 18px">
    Wenas, soy Kevin. Para pasar el tiempo me gusta jugar videojuegos, 
    ver series y aunque tengo poca experiencia en ello, tocar instrumentos.

</p>

<h2>Sobre la página</h2>
<p style="font-size: 18px">
    Terminé eligiendo un diseño sencillo y (espero que) agradable porque me 
    gusta que sea simple, como no soy muy bueno con los colores elegí como base 
    el color café y de ahí busqué en colorhunt otros colores que combinaran con 
    el mismo, siento que esta combinación de colores es suave y por eso me baso 
    totalmente en ello.
</p>

{% endblock  %}
