{% extends "Informacion/base.html" %}

{% block contenido %}
{% load static %}
<link rel="stylesheet" href="{% static 'styles/articulo.css' %}">

<h1>{{articulo.titulo}}</h1>
<h2>{{articulo.contenido}}</h2>
<p>Publicado el: {{articulo.fecha_publicacion}}</p>
<p>likes: {{articulo.likes}}</p>
<hr>
<form method="POST">
    <p>¡Comenta sobre este artículo!</p>
    {% csrf_token %}
    <label>nombre:</label> <br>
    {{ form.nombre }}
    <br> <br>
    <label>Cuerpo del comentario</label> <br>
    {{ form.cuerpo }}
    <button>Enviar</button>
</form>

{% for comentario in comentarios  %}
    <div class="comentario">
        <div class="primera-linea">
            <h3>{{comentario.autor}}</h3>
            <p class="fecha">{{comentario.fecha_publicacion}}</p>
        </div>
        <p>{{comentario.contenido}}</p>
    </div>
{% endfor %}

{% endblock contenido %}