{% extends "Informacion/base.html" %}

{% block contenido %}
{% load static %}
<link rel="stylesheet" href="{% static 'styles/articulo.css' %}">

<h1>{{articulo.titulo}}</h1>
<h2>{{articulo.contenido}}</h2>
<p>Publicado el: {{articulo.fecha_publicacion}}</p>
<div class="likes">
    <p>likes: {{articulo.likes}}</p>
    {% if user.is_authenticated %}
    <form action="{% url "Informacion:aumentarLike" id%}" class="aumentar-like">
        <button>^</button>
    </form>
    {% endif %}
</div>

<hr>

{% if user.is_authenticated %}
<form method="POST">
    <p>¡Comenta sobre este artículo!</p>
    {% csrf_token %}
    <label>Cuerpo del comentario</label> <br>
    {{ form.cuerpo }}
    <input type="hidden" name="autor" value="{{user.get_username}}">
    <button>Enviar</button>
</form>
{% else %}
<p>¡Necesitas iniciar sesión para comentar artículos!</p>
{% endif %}


{% for comentario in comentarios  %}
    <div class="comentario">
        <div class="primera-linea">
            <h3>{{comentario.autor}}</h3>
            <p class="fecha">{{comentario.fecha_publicacion}}</p>
        </div>
        <p>{{comentario.contenido}}</p>
    </div>
{% endfor %}

{% endblock contenido %}