{% extends "Informacion/base.html" %}

{% block contenido %}
<h1>Resume</h1>
<h2>Kevin Guevara Mojica</h2>

<h3>
    Correo: <a href=""> kevin.guemoj@gmail.com </a> <br>
    <div style="display: flex">
        Perfil de Linkedin:
        <a href="https://cr.linkedin.com"
        target="_blank">
            Kevin Guevara
        </a> 
        <p style="font-size: 10px">(Sí, la verdad no tengo cuenta en Linkedin, eso no lleva a ningún lugar interesante.)</p>
    </div>
</h3>
<p>
    Soy un estudiante de computación con enfoque en ingeniería de software.
    Tengo interés en enfrentarme a desafíos técnicos y experiencia en 
    trabajar en equipo
</p>

<h3>Educación</h4>
<p>Actualmente estudiando computación en la Universidad de Costa Rica</p>

<h3>Experiencia</h3>
<ul>
    <li>
        Creación de una página para crear figuras con legos
    </li>
    <li>
        Creación de una página web para administrar un hotel
    </li>
</ul>

<h3>Tecnologías</h3>
<ul>
    <li>
        Lenguajes de programación: Java, Python, C++, C#, novato en Javascript.
    </li>
    <li>
        Tecnologías Web: HTML, CSS.
    </li>
    <li>
        Bases de datos: Microsoft SQLServer.
    </li>
    <li>
        Herramientas de control de versiones: Git, Github.
    </li>
</ul>

<h3>Habilidades Blandas:</h3>
<ul>
    <li>
        Buena capacidad de trabajo en equipo y comunicación
    </li>
    <li>
        Adaptabilidad y disposición para aprender nuevas tecnologías y conceptos
    </li>
</ul>

<h3>Referencias Profesionales</h3>
<p>Sí.</p>

{% endblock  %}